pkgbase = ronin-link-bin
	pkgdesc = A desktop app for linking to your machines securely in Ronin . A desktop app for linking to your machines securely in Ronin.
	pkgver = 2.3.2
	pkgrel = 1
	url = https://ronin.cloud
	install = ronin-link-bin.install
	arch = x86_64
	groups = 
	license = MIT
	depends = alsa-lib
	depends = atk
	depends = at-spi2-atk
	depends = at-spi2-core
	depends = cairo
	depends = dbus
	depends = desktop-file-utils
	depends = discord
	depends = expat
	depends = gcc-libs
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = gvfs
	depends = hicolor-icon-theme
	depends = libcups
	depends = libnotify
	depends = libsecret
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxcursor
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxi
	depends = libxrandr
	depends = libxrender
	depends = libxss
	depends = libxtst
	depends = nspr
	depends = nss
	depends = pango
	depends = trash-cli
	depends = xdg-utils
	optdepends = pulseaudio
	optdepends = alsa-lib
	options = !strip
	options = !emptydirs
	source_x86_64 = https://ronin.cloud/apps/ronin-link-2.3.2.deb
	sha512sums_x86_64 = 34811f561f8d46b3dbf569fa493343d43662792fbfb30d10daa54634eac947fe1cf1a122e2c33f607e9c01e8d50f83ddf15158b987412036ae4c6ab8acf76bf5

pkgname = ronin-link-bin
